<%- include('../includes/header.ejs') %>
<%- include('../includes/nav.ejs') %>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modelId">
  ADMIN INDEX
</button>

<!-- Modal -->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Body
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>

 <div>
   <% if (prods.length > 0) { %>
   <div class="grid">
     <% for (let product of prods) { %>
     <article class="card product-item">
       <header class="card__header">
         <h1 class="product__title">
           <%= product.title %>
         </h1>
       </header>
       <div class="card__image">
         <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
       </div>
       <div class="card__content">
         <h2 class="product__price">$
           <%= product.price %>
         </h2>
         <p class="product__description">
           <%= product.description %>
         </p>
       </div>
       <div class="card__actions">
         <a href="/admin/edit-product/<%= product._id %>?edit=true" class="btn">Edit</a>
         <form action="/admin/delete-product" method="POST">
           <input type="hidden" value="<%= product._id %>" name="productId">
           <button class="btn" type="submit">Delete</button>
         </form>

       </div>
     </article>
     <% } %>
   </div>
   <% } else { %>
   <h1>No Products Found!</h1>
   <% } %>
 </main>
<%- include('../includes/footer.ejs') %>