<%- include('includes/header.ejs') %>
<%- include('includes/nav.ejs') %>
<% if (isAuthenticated) { %>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
					<table class="table table-striped table-bordered table-hover table-responsive text-nowrap">
							<caption>Lista de los SMS recibidos por Twilio</caption>
							<thead class="thead-dark">
								<tr>
									<th>Sms Sid</th>
									<th>To City</th>
									<th>To State</th>
									<th>To Country</th>
									<th>Sms Status</th>
									<th>From City</th>
									<th>From State</th>
									<th>From Country</th>
									<th>Body</th>
									<th>From</th>
									<th>To</th>
								</tr>
							</thead>
							<tbody>
								<% for(let i = 0; i < sms.length; i++) { %> 
								<tr>
									<td scope="row"><%= sms[i].SmsSid %></td>
									<td><%= sms[i].ToCity %></td>
									<td><%= sms[i].ToState %></td>
									<td><%= sms[i].ToCountry %></td>
									<td><%= sms[i].SmsStatus %></td>
									<td><%= sms[i].FromCity %></td>
									<td><%= sms[i].FromState %></td>
									<td><%= sms[i].FromCountry %></td>
									<td><%= sms[i].Body %></td>
									<td><%= sms[i].From %></td>
									<td><%= sms[i].To %></td>
								</tr>
								<% } %>
							</tbody>
						</table>
			</div>
		</div>
	</div>
<% } else { %>
	<h1>Debe estar autenticado para ver este sitio.</h1>
<% } %>
<%- include('includes/footer.ejs') %>